<div
  class="
    max-h-full
    flex flex-col
    overflow-hidden
    leading-[1.6]
    w-full
    md:w-[500px]
  "
>
  <div
    class="
      border-b-[1px] border-solid border-black border-opacity-10
      text-base
      font-medium
      flex
      items-center
      w-full
      pb-2.5
      mb-2.5
    "
  >
    <span class="overflow-hidden overflow-ellipsis whitespace-nowrap">{{
      data.item.title
    }}</span>
    <div style="flex-grow: 1"></div>
    <app-favorite-button [item]="data.item"></app-favorite-button>
    <app-icon-button
      icon="edit"
      (action)="editItem()"
      class="ml-1.25"
      matTooltip="Edit item"
      matTooltipPosition="below"
      matTooltipClass="tooltip"
      [matTooltipShowDelay]="750"
    ></app-icon-button>
  </div>
  <div
    *ngIf="data.item.description.trim() !== ''"
    class="description"
    [innerHTML]="descriptionHtml"
  ></div>
  <div *ngIf="data.item.location.trim() !== ''" class="item-detail">
    <mat-icon>place</mat-icon>
    <div>
      <div><b>Location</b></div>
      <span>{{ data.item.location }}</span>
    </div>
  </div>
  <ng-container *ngIf="data.item.isDateEnabled">
    <div class="item-detail">
      <mat-icon>event</mat-icon>
      <div>
        <div><b>Date</b></div>
        <a
          [routerLink]=""
          (click)="goToItemDate()"
          class="text-blue hover:underline"
          >{{ data.item.date.toDateString() }}</a
        >
      </div>
    </div>
    <div *ngIf="data.item.isStartTimeEnabled" class="item-detail">
      <mat-icon>schedule</mat-icon>
      <div>
        <div><b>Time</b></div>
        <span>{{ data.item.getDisplayTime() }}</span>
      </div>
    </div>
    <div class="item-detail">
      <mat-icon>repeat</mat-icon>
      <div>
        <div><b>Repeat</b></div>
        <span>{{ getDisplayRepeat() }}</span>
      </div>
    </div>
  </ng-container>
  <div *ngIf="data.item.groupIds.length > 0" class="item-detail">
    <mat-icon>category</mat-icon>
    <div>
      <div><b>Groups</b></div>
      <div class="flex flex-wrap items-center mt-1.25">
        <app-group-name-chip
          *ngFor="let groupId of data.item.groupIds"
          [group]="groupService.getGroupById(groupId)!!"
          class="mr-1.25 mb-1.25"
        >
        </app-group-name-chip>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-between mt-3.75">
    <button
      (click)="dialogRef.close()"
      mat-button
      color="primary"
      class="mr-2.5"
    >
      Close
    </button>
    <button (click)="deleteItem()" mat-flat-button color="warn">Delete</button>
  </div>
</div>
