.item-card {
  width: 100%;
  height: 95px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 5px 10px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 1px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);

  @media only screen and (max-width: 400px) {
    font-size: 12px;
  }
}

.item-card-header {
  display: flex;
  align-items: center;
}

.item-card-title {
  font-weight: 450;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-card-header-right {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.item-card-groups {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.item-card-group {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 3px;
}

.item-card-info {
  display: flex;
  align-items: center;
  margin-right: 10px;

  mat-icon {
    margin-right: 5px;
  }
}