<div class="group-view-container">
  <div *ngFor="let group of groupService.getGroups()" class="group-wrapper">
    <div class="group">
      <div class="group-header">
        <div
          [style.color]="groupService.getGroupTextColor(group)"
          [style.backgroundColor]="group.color"
          class="group-name-chip"
        >
          {{ group.name }}
        </div>
        <button mat-icon-button [matMenuTriggerFor]="sortMenu">
          <mat-icon>sort</mat-icon>
        </button>
        <mat-menu #sortMenu="matMenu">
          <button mat-menu-item (click)="sortByDate(group)">
            <mat-icon>event</mat-icon>
            <span>Date</span>
          </button>
          <button mat-menu-item (click)="sortByTitle(group)">
            <mat-icon>sort_by_alpha</mat-icon>
            <span>Title</span>
          </button>
        </mat-menu>
      </div>
      <div
        class="group-item-list"
        cdkDropList
        (cdkDropListDropped)="dropGroupItem(group, $event)"
      >
        <div
          *ngFor="let item of itemService.getGroupItems(group)"
          class="group-item"
          cdkDrag
        >
          <div class="group-item-header">
            <span class="group-item-title">{{ item.title }}</span>
            <div style="flex-grow: 1"></div>
            <button class="icon-btn">
              <mat-icon (click)="expandItem(item)">open_in_full</mat-icon>
            </button>
            <button class="icon-btn">
              <mat-icon (click)="userDataService.deleteItem(item)"
                >delete</mat-icon
              >
            </button>
          </div>
          <span class="group-item-description">{{ item.description }}</span>
          <div style="flex-grow: 1"></div>
          <div style="display: flex">
            <div class="group-item-date" *ngIf="item.dateEnabled">
              <mat-icon>event</mat-icon>
              <span>{{ item.date.toLocaleDateString() }}</span>
            </div>
            <div class="group-item-date" *ngIf="item.startTimeEnabled">
              <mat-icon>schedule</mat-icon>
              <span>{{ getDisplayTime(item) }}</span>
            </div>
          </div>
        </div>
      </div>
      <button
        (click)="addNewItemToGroup(group)"
        mat-button
        class="new-group-item-btn"
      >
        New item
      </button>
    </div>
  </div>
</div>
