@use '~@angular/material' as mat;
@use '~src/theme';
@import "~src/variables.scss";

/* ==========================================================================
   Material dialog overrides
   ========================================================================== */

div.cdk-overlay-pane {
  /* Allow dialogs with larger widths */
  @media screen and (max-width: $screen-width-xs) {
    max-width: unset !important;
  }
}

mat-dialog-container {
  margin: 10px 0 !important;
  max-height: calc(100% - 20px) !important;
  height: unset !important;
  
  /** On mobile, use the screen's width + 10px margins */
  @media screen and (max-width: $screen-width-xs) {
    width: calc(100vw - (10px * 2)) !important;
  }
}

/* ==========================================================================
   Top-level containers
   ========================================================================== */

.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-content {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ==========================================================================
   Toolbars
   ========================================================================== */

.primary-toolbar-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.secondary-toolbar-row {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
  position: relative;
  padding: 0 14px !important;
  z-index: 2;
}

.new-item-btn {
  $width: 90px;
  margin-right: 10px;
  min-width: $width;
  width: $width;
}

/* ==========================================================================
   Sidenav
   ========================================================================== */

.sidenav {
  background-color: #fafafa;
  min-width: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: 1px 0px 4px 0 rgb(0 0 0 / 10%);
  z-index: 1;
  border-right: 1px solid #0000001f;
}

.sidenav-btn {
  color: black;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  cursor: pointer;

  &:not(.sidenav-btn-selected):hover {
    background-color: #D7DBEA;
    border-right: 1px solid #c5cbe1;
    width: calc(100% + 1px);
  }
}

.sidenav-btn-selected {
  color: #465486;
  background-color: #c5cbe1;
  border-right: 1px solid #c5cbe1;
  width: calc(100% + 1px);
}

/* ==========================================================================
   Miscellaneous
   ========================================================================== */

/**
 * Tooltip shown for undo/redo buttons. Styled similarly to the
 * snack bar shown when undoing/redoing a change.
 */
.history-tooltip {
  background-color: #323232;
  color: mat.get-color-from-palette(theme.$mat-accent, 500) !important;
}