<div class="page-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="primary-row">
        <span>plan.</span>
        <div [style.flexGrow]="1"></div>
        <button
          *ngIf="!userAuthService.hasAuth()"
          (click)="userAuthService.login()"
          mat-raised-button
        >
          <img
            width="20px"
            style="margin-bottom: 3px; margin-right: 5px"
            alt="Google sign-in"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
          />
          Login
        </button>
        <ng-container *ngIf="userAuthService.hasAuth()">
          <button mat-icon-button [matMenuTriggerFor]="hamburgerMenu">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #hamburgerMenu="matMenu" yPosition="below">
            <button (click)="userAuthService.logout()" mat-menu-item>
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </ng-container>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar>
    <mat-toolbar-row class="secondary-row">
      <button
        (click)="addNewItem()"
        mat-raised-button
        class="new-item-btn"
        color="primary"
      >
        New item
      </button>
      <ng-template toolbarHost></ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="page-content">
    <div class="sidenav">
      <button
        (click)="viewService.goToGroupView()"
        class="sidenav-btn"
        [ngClass]="{ 'sidenav-btn-selected': viewService.isGroupView() }"
      >
        <mat-icon fontSet="material-icons-outlined">view_agenda</mat-icon>
      </button>
      <button
        (click)="viewService.goToMonthView()"
        class="sidenav-btn"
        [ngClass]="{ 'sidenav-btn-selected': viewService.isMonthView() }"
      >
        <mat-icon>calendar_view_month</mat-icon>
      </button>
      <button
        (click)="viewService.goToDayView()"
        class="sidenav-btn"
        [ngClass]="{ 'sidenav-btn-selected': viewService.isDayView() }"
      >
        <mat-icon fontSet="material-icons-outlined">calendar_view_day</mat-icon>
      </button>
      <button
        (click)="viewService.goToItemListView()"
        class="sidenav-btn"
        [ngClass]="{ 'sidenav-btn-selected': viewService.isItemListView() }"
      >
        <mat-icon fontSet="material-icons-outlined">view_list</mat-icon>
      </button>
      <div style="flex-grow: 1"></div>
      <button
        mat-icon-button
        [disabled]="!userDataService.canUndo()"
        (click)="userDataService.undo()"
      >
        <mat-icon>undo</mat-icon>
      </button>
      <button
        mat-icon-button
        [disabled]="!userDataService.canRedo()"
        (click)="userDataService.redo()"
      >
        <mat-icon>redo</mat-icon>
      </button>
    </div>
    <ng-template viewHost></ng-template>
  </div>
</div>
