@use "sass:map";
@use '~src/styles/palettes';
@use "~src/styles/variables";

/* ==========================================================================
   Material dialog overrides
   ========================================================================== */

div.cdk-overlay-pane {
  /* Allow dialogs with larger widths */
  @apply sm:max-w-[80vw] max-w-unset;
}

mat-dialog-container {
  @apply my-2.5 h-unset;

  max-height: calc(100% - 20px) !important;
  
  /** On mobile, use the screen's width - 10px margins */
  @media screen and (max-width: variables.$screen-width-sm) {
    width: calc(100vw - (10px * 2)) !important;
  }
}

/* ==========================================================================
   Toolbars
   ========================================================================== */

.secondary-toolbar {
  @apply relative px-3.5 z-[2];

  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
}

/* ==========================================================================
   Sidenav
   ========================================================================== */

.sidenav {
  @apply
    bg-snow
    min-w-[40px]
    h-full
    flex
    flex-col
    box-border
    z-[1]
    border-r-1
    border-solid
    border-black
    border-opacity-10;

  box-shadow: 1px 0px 4px 0 rgb(0 0 0 / 10%);
}

.sidenav-btn {
  @apply
    text-black
    bg-transparent
    border-none
    flex
    justify-center
    items-center
    h-[40px]
    w-full
    cursor-pointer;

  &:not(.sidenav-btn-selected):hover {
    @apply bg-accent-50 border-r-1 border-solid border-accent-50;

    width: calc(100% + 1px);
  }
}

.sidenav-btn-selected {
  @apply
    text-white
    bg-accent-500
    border-r-1
    border-solid
    border-accent-500;

  width: calc(100% + 1px);
}