<div class="page-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="primary-row">
        <span>plandot</span>
        <div [style.flexGrow]="1"></div>
        <button
          *ngIf="!userAuthService.hasAuth()"
          (click)="userAuthService.login()"
          mat-raised-button
        >
          <img
            width="20px"
            style="margin-bottom: 3px; margin-right: 5px"
            alt="Google sign-in"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
          />
          Login
        </button>
        <button
          mat-icon-button
          *ngIf="userAuthService.hasAuth()"
          [matMenuTriggerFor]="hamburgerMenu"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #hamburgerMenu="matMenu" yPosition="below">
          <button (click)="userAuthService.logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar>
    <mat-toolbar-row class="secondary-row">
      <button
        (click)="addNewItem()"
        mat-raised-button
        color="primary"
        class="new-item-btn"
      >
        New item
      </button>
      <button (click)="toggleGroupsMenu($event)" mat-button>Groups</button>
      <div
        *ngIf="isGroupsMenuVisible"
        (click)="$event.stopPropagation()"
        class="groups-menu"
      >
        <div class="groups-menu-row-container">
          <div
            *ngFor="let group of groupService.getGroups(); index as i"
            class="groups-menu-row"
          >
            <div class="groups-menu-row-content">
              <app-group-name-chip [group]="group"></app-group-name-chip>
              <div class="groups-menu-row-controls">
                <button (click)="editGroup(group)" mat-icon-button>
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  (click)="userDataService.deleteGroup(group)"
                  mat-icon-button
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
        </div>
        <button (click)="addGroup()" mat-button class="new-group-btn">
          New group
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="page-content">
    <div class="sidenav">
      <button
        (click)="setView('group')"
        class="sidenav-btn"
        [ngClass]="{ 'sidenav-btn-selected': isGroupView() }"
      >
        <mat-icon fontSet="material-icons-outlined">view_agenda</mat-icon>
      </button>
      <button
        (click)="setView('month')"
        class="sidenav-btn"
        [ngClass]="{ 'sidenav-btn-selected': isMonthView() }"
      >
        <mat-icon>calendar_view_month</mat-icon>
      </button>
      <button
        (click)="setView('day')"
        class="sidenav-btn"
        [ngClass]="{ 'sidenav-btn-selected': isDayView() }"
      >
        <mat-icon fontSet="material-icons-outlined">calendar_view_day</mat-icon>
      </button>
    </div>
    <ng-container [ngSwitch]="getViewName()">
      <app-group-view *ngSwitchCase="'group'"></app-group-view>
      <app-month-view *ngSwitchCase="'month'"></app-month-view>
      <app-day-view *ngSwitchCase="'day'"></app-day-view>
    </ng-container>
  </div>
</div>
