<div class="w-full h-full flex flex-col">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="flex items-center w-full">
        <img src="assets/logo/plandot_alternate.png" class="h-[40px]" />
        <div [style.flexGrow]="1"></div>
        <div *ngIf="!navigator.onLine" class="px-1.25 bg-warn-500 rounded-md text-base">Offline</div>
        <button mat-icon-button (click)="openHelpDialog()" aria-label="Help">
          <mat-icon>help_outline</mat-icon>
        </button>
        <button
          *ngIf="!userAuthService.hasAuth()"
          (click)="userAuthService.login()"
          mat-raised-button
          class="ml-2"
          aria-label="Login"
        >
          <img
            alt="Google sign-in"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
            class="w-5 h-5 mr-2 inline"
          />
          <span>Login</span>
        </button>
        <ng-container *ngIf="userAuthService.hasAuth()">
          <button
            mat-icon-button
            [matMenuTriggerFor]="hamburgerMenu"
            aria-label="Features menu"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #hamburgerMenu="matMenu" yPosition="below">
            <button
              (click)="userAuthService.logout()"
              mat-menu-item
              aria-label="Logout"
            >
              <mat-icon color="primary">logout</mat-icon>
              <span class="text-primary-500">Logout</span>
            </button>
          </mat-menu>
        </ng-container>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <ng-container *ngIf="userAuthService.hasAuth()">
    <mat-toolbar class="bg-primary-50 text-primary-500">
      <mat-toolbar-row class="secondary-toolbar">
        <button
          (click)="addNewItem()"
          mat-raised-button
          class="mr-2.5 min-w-[90px] w-[90px]"
          color="primary"
        >
          New item
        </button>
        <ng-template toolbarHost></ng-template>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="flex w-full h-full overflow-hidden">
      <div class="sidenav">
        <button
          (click)="viewService.goToGroupView()"
          matTooltip="Group view"
          [matTooltipShowDelay]="750"
          matTooltipClass="tooltip"
          matTooltipPosition="right"
          class="sidenav-btn"
          [ngClass]="{ 'sidenav-btn-selected': viewService.isGroupView() }"
          [attr.aria-pressed]="viewService.isGroupView()"
        >
          <mat-icon fontSet="material-icons-outlined">view_agenda</mat-icon>
        </button>
        <button
          (click)="viewService.goToMonthView()"
          matTooltip="Month view"
          [matTooltipShowDelay]="750"
          matTooltipClass="tooltip"
          matTooltipPosition="right"
          class="sidenav-btn"
          [ngClass]="{ 'sidenav-btn-selected': viewService.isMonthView() }"
          [attr.aria-pressed]="viewService.isMonthView()"
        >
          <mat-icon>calendar_view_month</mat-icon>
        </button>
        <button
          (click)="viewService.goToDayView()"
          matTooltip="Day view"
          [matTooltipShowDelay]="750"
          matTooltipClass="tooltip"
          matTooltipPosition="right"
          class="sidenav-btn"
          [ngClass]="{ 'sidenav-btn-selected': viewService.isDayView() }"
          [attr.aria-pressed]="viewService.isDayView()"
        >
          <mat-icon fontSet="material-icons-outlined"
            >calendar_view_day</mat-icon
          >
        </button>
        <button
          (click)="viewService.goToItemListView()"
          matTooltip="Item list view"
          [matTooltipShowDelay]="750"
          matTooltipClass="tooltip"
          matTooltipPosition="right"
          class="sidenav-btn"
          [ngClass]="{ 'sidenav-btn-selected': viewService.isItemListView() }"
          [attr.aria-pressed]="viewService.isItemListView()"
        >
          <mat-icon fontSet="material-icons-outlined">view_list</mat-icon>
        </button>
        <div style="flex-grow: 1"></div>
        <button
          mat-icon-button
          [disabled]="!userDataService.canUndo()"
          [matTooltip]="'Undo: ' + userDataService.getLastAction()"
          matTooltipPosition="right"
          matTooltipClass="tooltip"
          (click)="userDataService.undo()"
          color="primary"
        >
          <mat-icon>undo</mat-icon>
        </button>
        <button
          mat-icon-button
          [disabled]="!userDataService.canRedo()"
          [matTooltip]="'Redo: ' + userDataService.getNextAction()"
          matTooltipPosition="right"
          matTooltipClass="tooltip"
          (click)="userDataService.redo()"
          color="primary"
        >
          <mat-icon>redo</mat-icon>
        </button>
      </div>
      <ng-template viewHost></ng-template>
    </div>
  </ng-container>
  <div
    *ngIf="!userAuthService.hasAuth()"
    class="
      bg-ghost
      box-border
      text-xl
      h-full
      w-full
      p-5
      flex flex-col
      justify-center
      items-center
    "
  >
    <h1>Welcome to planndot!</h1>
    <h2 class="text-center">To get started, login with your Google account.</h2>
  </div>
</div>
