$hour-label-width: 55px;
$hour-height: 80px;

:host {
  @apply w-full h-full;
}

.day-view-hour {
  @apply
    box-border
    grid
    border-b
    border-solid
    border-black
    border-opacity-20;
    
  height: $hour-height;
  grid-template-columns: $hour-label-width 1fr;
  grid-template-rows: 1fr;
}

.day-view-grid {
  @apply absolute top-0 grid;
  left: $hour-label-width;
  height: $hour-height * 24;
  width: calc(100% - #{$hour-label-width});
  grid-template-rows: repeat(720, 1fr);
}

.day-view-item {
  @apply rounded-md box-border m-px overflow-hidden;
}
