<div class="w-full h-full flex flex-col">
  <app-view-header
    [text]="dateService.date.toDateString()"
    (previous)="dateService.goToPrevDate()"
    (next)="dateService.goToNextDate()"
    label="day"
  ></app-view-header>
  <div class="w-full h-full overflow-auto relative">
    <div
      *ngIf="timelessItems.length > 0"
      class="p-1.25 bg-snow"
      id="timeless-items"
    >
      <span class="font-medium text-[15px]">Items without times</span>
      <div
        *ngFor="let item of timelessItems"
        [style.backgroundColor]="itemService.getItemBackgroundColor(item)"
        [style.color]="itemService.getItemTextColor(item)"
        (click)="expandItem(item)"
        (keydown.enter)="expandItem(item)"
        class="day-view-item box-border p-1.25"
        role="button"
        tabindex="0"
        [attr.aria-label]="item.title"
      >
        {{ item.title }}
      </div>
    </div>
    <div class="relative">
      <div *ngFor="let hour of hours" class="day-view-hour">
        <div class="box-border pt-1.25 pr-2.5 bg-ghost text-right">
          {{ getHourString(hour) }}
        </div>
      </div>
      <div
        class="day-view-grid"
        [style.gridTemplateColumns]="'repeat(' + columns + ', 1fr)'"
      >
        <ng-container *ngFor="let col of columns; index as i">
          <div
            *ngFor="let itemData of col"
            [style.gridColumn]="i + 1"
            [style.gridRowStart]="itemData.rowStart"
            [style.gridRowEnd]="itemData.rowEnd"
            [style.backgroundColor]="
              itemService.getItemBackgroundColor(itemData.item)
            "
            [style.color]="itemService.getItemTextColor(itemData.item)"
            (click)="expandItem(itemData.item)"
            (keydown.enter)="expandItem(itemData.item)"
            class="day-view-item"
            role="button"
            tabindex="0"
            [attr.aria-label]="itemData.item.title"
          >
            <div class="p-1.25">
              <div>{{ itemData.item.title }}</div>
              <div>{{ itemData.item.getDisplayTime() }}</div>
              <div *ngIf="itemData.item.location.trim() !== ''">
                {{ itemData.item.location }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
