<button (click)="toggleGroupsMenu($event)" mat-button color="primary">
  Groups
</button>
<div
  *ngIf="isGroupsMenuVisible"
  (click)="$event.stopPropagation()"
  class="groups-menu"
>
  <div class="h-[200px] m-2.5 overflow-x-hidden overflow-y-auto">
    <div
      *ngFor="let group of groupService.getGroups(); index as i"
    >
      <div class="groups-menu-row">
        <app-group-name-chip [group]="group" class="col-start-1 col-end-1"></app-group-name-chip>
        <div class="col-start-2 col-end-2 flex items-center">
          <button
            (click)="editGroup(group)"
            mat-icon-button
            color="accent"
            matTooltip="Edit group"
            matTooltipPosition="below"
            matTooltipClass="tooltip"
            [matTooltipShowDelay]="750"
            class="ml-1.25"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            (click)="deleteGroup(group)"
            mat-icon-button
            color="warn"
            matTooltip="Delete group"
            matTooltipPosition="below"
            matTooltipClass="tooltip"
            [matTooltipShowDelay]="750"
            class="ml-1.25"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
  <button (click)="addGroup()" mat-button class="m-2.5 mt-0" color="primary">
    New group
  </button>
</div>
