$primary-palette: (
  0: #F1F1F9,
  1: #E2E2F3,
  10: #D4D4ED,
  50: #9A9AD5,
  100: #8C8CCF,
  200: #7E7EC9,
  300: #6F6FC3,
  400: #5252B7,
  500: #4848AD,
  600: #42429E,
  700: #3C3C90,
  800: #363681,
  900: #303073,
  contrast: (
    50: black,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);


$accent-palette: (
  50: #48D7FE,
  100: #34D2FE,
  200: #20CEFE,
  300: #0BC9FE,
  400: #0BC9FE,
  500: #01BAEF,
  600: #01AFDF,
  700: #019FCB,
  800: #018FB7,
  900: #017FA2,
  contrast: (
    50: black,
    100: black,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$warn-palette: (
  50: #E88794,
  100: #E57685,
  200: #E26575,
  300: #DE5466,
  400: #DA3E52,
  500: #D83148,
  600: #CE273D,
  700: #BC2438,
  800: #AB2133,
  900: #9A1D2E,
  contrast: (
    50: black,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);
