$primary-palette: (
  0: #EFF3FB,
  1: #DEE7F7,
  10: #CEDBF3,
  50: #2F5FB1,
  100: #2B56A1,
  200: #274E91,
  300: #224581,
  400: #1E3C71,
  500: #183059,
  600: #42429E,
  700: #3C3C90,
  800: #363681,
  900: #303073,
  contrast: (
    50: black,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);


$accent-palette: (
  50: #48D7FE,
  100: #34D2FE,
  200: #20CEFE,
  300: #0BC9FE,
  400: #0BC9FE,
  500: #01BAEF,
  600: #01AFDF,
  700: #019FCB,
  800: #018FB7,
  900: #017FA2,
  contrast: (
    50: black,
    100: black,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$warn-palette: (
  50: #E88794,
  100: #E57685,
  200: #E26575,
  300: #DE5466,
  400: #DA3E52,
  500: #D83148,
  600: #CE273D,
  700: #BC2438,
  800: #AB2133,
  900: #9A1D2E,
  contrast: (
    50: black,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);
