@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  @apply h-full overflow-hidden;
}

body {
  @apply m-0 bg-white fixed left-0 top-0 right-0 bottom-0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  overscroll-behavior-y: none;
}

.cdk-drag-placeholder {
  @apply opacity-0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.disable-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar {
    @apply h-0 w-0 bg-transparent; /* Chrome/Safari/Webkit */
  }
}

.drag-handle {
  @apply text-#ccc cursor-move;
}

.tooltip {
  @apply bg-#323232;
}

.spinner-container {
  @apply items-center flex h-full w-full justify-center;
}