:host {
  max-width: 100%;
  overflow: hidden;
}

.group-name-chip {
  border-radius: 16px;
  padding: 0 10px;
  height: 32px;
  display: flex;
  align-items: center;
  font-weight: 500;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  max-width: fit-content;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}