<div class="group-edit-dialog">
  <div class="group-edit-controls">
    <mat-form-field>
      <mat-label>Group name</mat-label>
      <input
        [(ngModel)]="data.group.name"
        matInput
        placeholder="Group name"
        required
      />
    </mat-form-field>
    <input
      [(colorPicker)]="data.group.color"
      [cpOKButton]="true"
      [cpDisableInput]="true"
      cpAlphaChannel="disabled"
      cpOKButtonClass="color-picker-btn-save"
      cpCancelButtonClass="color-picker-btn-cancel"
      cpOKButtonText="OK"
      [cpCancelButton]="true"
      cpCancelButtonText="Cancel"
      [style.background]="data.group.color"
      class="group-color-picker"
    />
  </div>
  <div class="group-edit-actions">
    <button mat-button (click)="dialogRef.close()">
      Cancel
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data.group" cdkFocusInitial>
      Save
    </button>
  </div>
</div>
