.time-form {
  @apply flex w-full mt-1.25;

  mat-form-field {
    $margin-right: 10px;
    margin-right: $margin-right;
    width: calc(33.33% - #{$margin-right} * 0.667);

    &:last-child {
      @apply mr-0;
    }
  }
}

.time-enabled-checkbox {
  @apply mb-2.5;
}