<div class="flex justify-end items-center">
  <app-item-sort-button
    (sortByDate)="sortByDate()"
    (sortByTitle)="sortByTitle()"
    (sortByFavorited)="sortByFavorited()"
  ></app-item-sort-button>
  <button
    mat-icon-button
    (click)="toggleFilterMenu($event)"
    matTooltip="Filter items"
    matTooltipPosition="below"
    matTooltipClass="tooltip"
    [matTooltipShowDelay]="750"
    [attr.aria-expanded]="isFilterMenuVisible"
  >
    <mat-icon>filter_list</mat-icon>
  </button>
  <div
    class="filter-menu"
    *ngIf="isFilterMenuVisible"
    (click)="$event.stopPropagation()"
  >
    <mat-checkbox
      [(ngModel)]="searchService.filter.withDate"
      (change)="searchService.update()"
      [disableRipple]="true"
      >With date</mat-checkbox
    >
    <mat-checkbox
      [(ngModel)]="searchService.filter.withoutDate"
      (change)="searchService.update()"
      [disableRipple]="true"
      >Without date</mat-checkbox
    >
    <mat-checkbox
      [(ngModel)]="searchService.filter.notFavorited"
      (change)="searchService.update()"
      [disableRipple]="true"
      >Not favorited</mat-checkbox
    >
  </div>
  <mat-form-field class="text-sm ml-1.25 w-140px" appearance="standard" color="primary">
    <input
      type="search"
      matInput
      placeholder="Search"
      [(ngModel)]="searchService.searchValue"
      (keyup)="searchService.update()"
    />
    <app-icon-button
      icon="close"
      [style.visibility]="searchService.searchValue ? 'visible' : 'hidden'"
      size="16px"
      matSuffix
      ariaLabel="Clear search"
      (action)="searchService.clearSearch()"
    ></app-icon-button>
  </mat-form-field>
</div>
