@use '~src/styles/variables';

.icon-btn {
  display: flex;
  background: transparent;
  border: none;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  justify-content: center;
  align-items: center;

  mat-icon {
    color: #aaaaaa;
  }

  &:hover > mat-icon {
    color: #888888;
  }

  &:active > mat-icon {
    color: #666666;
  }
}