@use '~src/styles/variables';

.icon-btn {
  display: flex;
  background: transparent;
  border: none;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  color: variables.$icon-btn-grey;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }
}