:host {
  height: 100%;
  width: 100%;
}

.help-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.bullets {
  margin-block-start: 0;
  padding-inline-start: 25px;

  li {
    margin: 5px 0;
  }
}