<div class="item-list-toolbar">
  <app-item-sort-button
    (sortByDate)="userDataService.sortItemsByDate(); searchService.update()"
    (sortByTitle)="userDataService.sortItemsByTitle(); searchService.update()"
    (sortByFavorited)="userDataService.sortItemsByFavorited(); searchService.update()"
  ></app-item-sort-button>
  <button mat-icon-button (click)="toggleFilterMenu($event)">
    <mat-icon>filter_list</mat-icon>
  </button>
  <div
    class="filter-menu"
    *ngIf="isFilterMenuVisible"
    (click)="$event.stopPropagation()"
  >
    <mat-checkbox
      [(ngModel)]="searchService.filter.withDate"
      (change)="searchService.update()"
      [disableRipple]="true"
      >With date</mat-checkbox
    >
    <mat-checkbox
      [(ngModel)]="searchService.filter.withoutDate"
      (change)="searchService.update()"
      [disableRipple]="true"
      >Without date</mat-checkbox
    >
  </div>
  <mat-form-field class="search-field" appearance="standard" color="primary">
    <input
      type="search"
      matInput
      placeholder="Search"
      [(ngModel)]="searchService.searchValue"
      (keyup)="searchService.update()"
    />
    <app-icon-button
      icon="close"
      [style.visibility]="searchService.searchValue ? 'visible' : 'hidden'"
      size="16px"
      matSuffix
      aria-label="Clear search"
      (click)="searchService.clearSearch()"
    ></app-icon-button>
  </mat-form-field>
</div>
