<app-help-page-base [direction]="direction" title="Item list view">
  <img
    src="assets/images/help_item_list_view_1.png"
    class="w-full md:w-[80%] self-center mb-4"
  />
  <p>
    The <app-help-page-item-list-view></app-help-page-item-list-view> shows all
    of the items you've created. On large screens, each item is shown next to
    its description.
  </p>
  <img
    src="assets/images/help_item_list_view_2.png"
    class="w-full md:w-[50%] self-center my-2.5"
  />
  <p>
    On touch screens, you can swipe left on an item to reveal a button that
    deletes the item. Tapping anywhere else on the screen will hide the button.
  </p>
  <p>
    Like in the <app-help-page-group-view></app-help-page-group-view>, you can
    <mat-icon class="align-middle">drag_handle</mat-icon> drag items to
    reorder them.
  </p>
  <p>
    You may also search for items by typing keywords in the search bar. Try
    entering item titles, dates, description keywords, locations, and group
    names!
  </p>
  <p>
    Try <mat-icon class="align-middle">sort</mat-icon> sorting and
    <mat-icon class="align-middle">filter_list</mat-icon> filtering
    items as well.
  </p>
</app-help-page-base>
