<app-help-page-base [direction]="direction">
  <h1>Creating items</h1>
  <p>
    To create an item, click on the <b>New item</b> button found in the toolbar
    or in the <app-help-page-group-view></app-help-page-group-view>.
  </p>
  <img
    src="assets/images/help_creating_items_1.png"
    class="w-full md:w-[45%] self-center my-2.5"
  />
  <p>
    You may set the item's title (required), description, and location. The
    <b>Description</b> field also accepts
    <a
      href="https://www.markdownguide.org/"
      class="text-primary-300 hover:underline"
      >Markdown</a
    >
    formatting!
  </p>
  <img
    src="assets/images/help_creating_items_2.png"
    class="w-full md:w-[45%] self-center my-2.5"
  />
  <p>
    Items with a specified date will appear in the 
    <app-help-page-month-view></app-help-page-month-view> and the 
    <app-help-page-day-view></app-help-page-day-view>.
  </p>
  <img
    src="assets/images/help_creating_items_3.png"
    class="w-full md:w-[45%] self-center my-2.5"
  />
  <p>
    You can create reoccuring items as well. When creating an item that occurs
    on a daily or weekly basis, you can choose the week days
    on which it should occur.
  </p>
  <p>
    <i>Note:</i> Selected days are highlighted in gray.
  </p>
  <p>
    Finally, you may specify the item's groups. To add a group, 
    click the <b>Add group</b> text and begin typing the name of an 
    existing group.
  </p>
</app-help-page-base>

