<app-help-page-base [direction]="direction">
  <h1>The group view</h1>
  <img src="assets/images/help_group_view.png" class="w-full md:w-3/6 self-center">
  <br>
  <p>
    <i>Groups</i> are a way to organize your items. A group can contain
    many items, and one item may belong to multiple groups.
  </p>
  <p>
    To create a group, go to the <b>Group view</b> by clicking the first
    button in the sidebar. Then, open the <b>Groups</b> menu and click
    <b>New group</b>.
  </p>
  <p>You can interact with groups in several ways.</p>
  <ul>
    <li>Create new items for the group</li>
    <li>Sort items by one of several attributes</li>
    <li>Drag items to reorder them within the group</li>
    <li>Use the <b>Groups</b> menu to edit a group's name and color</li>
  </ul>
</app-help-page-base>