<app-help-page-base [direction]="direction" title="Month view">
  <img
    src="./assets/images/help_month_view.png"
    class="w-full md:w-[80%] self-center mb-4"
  />
  <p>
    The <app-help-page-month-view></app-help-page-month-view> (accessible via
    the second button in the sidebar) is a calendar that shows items for a given
    month.
  </p>
  <p>
    To move between months, use the
    <mat-icon class="align-middle">arrow_back</mat-icon> and
    <mat-icon class="align-middle">arrow_forward</mat-icon> navigation buttons.
  </p>
  <p>
    Click on a date to view that day's items in the
    <app-help-page-day-view></app-help-page-day-view>
  </p>
  <p>
    Click the
    <mat-icon class="align-middle">filter_center_focus</mat-icon> button in the
    toolbar to return to the current month.
  </p>
</app-help-page-base>
