<app-help-page-base [direction]="direction" title="Day view">
  <img
    src="./assets/images/help_day_view.png"
    class="w-full md:w-30% self-center mb-4"
  />
  <p>
    The <app-help-page-day-view></app-help-page-day-view> shows the items for a
    given date. Use the
    <mat-icon class="align-middle">arrow_back</mat-icon> and
    <mat-icon class="align-middle">arrow_forward</mat-icon> buttons to
    navigate to the previous or next day.
  </p>
  <p>
    Clicking on an item will open a dialog with the item's details.
  </p>
  <p>
    Click the
    <mat-icon class="align-middle">filter_center_focus</mat-icon> button in the
    toolbar to return to the current date.
  </p>
</app-help-page-base>
