<app-help-page-base [direction]="direction" title="Welcome to PlanDot!">
  <p>
    <b>PlanDot</b> is a personal planning tool that makes keeping track of your
    life easier than ever before.
  </p>
  <img src="./assets/logo/plandot.png" class="w-3/6 self-center my-6" />
  <h3 class="m-0 font-bold">Features:</h3>
  <ul>
    <li>
      Capture assignments, tasks, events, and to-dos as
      <i>items</i>. Then, organize your items by placing them in <i>groups</i>.
    </li>
    <li>Assign dates, times, and locations to your items. Or don't!</li>
    <li>
      Sort, filter, and search to find and prioritize the things you need to do.
    </li>
    <li>View your items as a monthy calendar, or as a daily agenda.</li>
  </ul>
  <br />
  <p>
    Continue to the next page to learn more about the features of
    <b>PlanDot</b>!
  </p>
</app-help-page-base>
