<div class="item-view">
  <div class="item-view-title">
    <span class="item-view-title-text">{{ data.item.title }}</span>
    <div style="flex-grow: 1"></div>
    <app-favorite-button [item]="data.item"></app-favorite-button>
    <app-icon-button
      icon="edit"
      (click)="editItem()"
      class="edit-item-btn"
    ></app-icon-button>
  </div>
  <div
    *ngIf="data.item.description.trim() !== ''"
    class="item-view-description"
    [innerHTML]="descriptionHtml"
  ></div>
  <div *ngIf="data.item.location.trim() !== ''" class="item-view-detail">
    <mat-icon>place</mat-icon>
    <div>
      <div><b>Location</b></div>
      <span>{{ data.item.location }}</span>
    </div>
  </div>
  <ng-container *ngIf="data.item.isDateEnabled">
    <div class="item-view-detail">
      <mat-icon>event</mat-icon>
      <div>
        <div><b>Date</b></div>
        <a [routerLink]="" (click)="goToItemDate()" style="color: blue">{{
          data.item.date.toDateString()
        }}</a>
      </div>
    </div>
    <div *ngIf="data.item.isStartTimeEnabled" class="item-view-detail">
      <mat-icon>schedule</mat-icon>
      <div>
        <div><b>Time</b></div>
        <span>{{ data.item.getDisplayTime() }}</span>
      </div>
    </div>
    <div class="item-view-detail">
      <mat-icon>repeat</mat-icon>
      <div>
        <div><b>Repeat</b></div>
        <span>{{ getDisplayRepeat() }}</span>
      </div>
    </div>
  </ng-container>
  <div *ngIf="data.item.groupIds.length > 0" class="item-view-detail">
    <mat-icon>category</mat-icon>
    <div>
      <div><b>Groups</b></div>
      <div class="item-view-groups">
        <app-group-name-chip
          *ngFor="let groupId of data.item.groupIds"
          [group]="groupService.getGroupById(groupId)!!"
        >
        </app-group-name-chip>
      </div>
    </div>
  </div>
  <div class="item-view-controls">
    <button
      (click)="dialogRef.close()"
      mat-button
      color="primary"
      class="item-view-close-btn"
    >
      Close
    </button>
    <button (click)="deleteItem()" mat-flat-button color="warn">Delete</button>
  </div>
</div>
