<div
  class="item-list"
  cdkDropList
  (cdkDropListDropped)="userDataService.handleItemListDragDrop($event)"
>
  <div
    *ngFor="let item of searchService.filteredItems"
    cdkDrag
    cdkDragLockAxis="y"
    class="item-list-item"
    swipeReveal
    [hiddenPanelWidth]="50"
  >
    <app-item-card [item]="item" class="item-list-item-content">
      <mat-icon class="drag-handle" cdkDragHandle>drag_handle</mat-icon>
    </app-item-card>
    <div class="item-list-item-delete" (click)="userDataService.deleteItem(item)">
      <div class="item-list-item-delete-backdrop"></div>
      <mat-icon>delete</mat-icon>
    </div>
  </div>
</div>
