@use 'sass:map';
@use '~src/styles/palettes';

:host {
  height: 100%;
  width: 100%;
}

.item-list {
  background-color: #0000001f;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

.item-list-item {
  width: 100%;
  display: grid;
  grid-template-columns: 100% 50px;
  overflow-x: auto;
}

.item-list-item-content {
  min-width: 100%;
  max-width: 100%;
  border-bottom: 1px solid #222;
}

.item-list-item-delete {
  position: relative;
  min-height: 100%;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list-item-delete-backdrop {
  background-color: map.get(palettes.$warn-palette, 500);
  left: 0;
  height: 100%;
  position: absolute;
  width: 100vw;
  z-index: -1;
}