<div *ngIf="!isUserDataLoaded" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
<div
  *ngIf="isUserDataLoaded"
  class="bg-ghost box-border h-full overflow-x-hidden overflow-y-auto"
  cdkDropList
  (cdkDropListDropped)="userDataService.handleItemListDragDrop($event)"
  role="list"
>
  <div
    *ngFor="let item of searchService.filteredItems; trackBy: trackItemById"
    cdkDrag
    cdkDragLockAxis="y"
    class="
      w-full
      overflow-x-auto overflow-hidden
      border-b-1 border-solid border-#aaaaaa
    "
    role="listitem"
  >
    <div class="flex">
      <app-item-card [item]="item" class="w-full">
        <mat-icon class="drag-handle" cdkDragHandle>drag_handle</mat-icon>
      </app-item-card>
      <div
        #description
        [innerHTML]="getDescriptionHtml(item)"
        class="
          bg-dimsnow
          box-border
          h-full
          w-full
          overflow-auto
          p-1.25
          hidden
          md:flex
          description
        "
      ></div>
    </div>
  </div>
</div>
