<div *ngIf="!isUserDataLoaded" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>
<div
  *ngIf="isUserDataLoaded"
  class="bg-ghost box-border h-full w-full overflow-x-hidden overflow-y-auto"
  cdkDropList
  (cdkDropListDropped)="userDataService.handleItemListDragDrop($event)"
  role="list"
>
  <div
    *ngFor="let item of searchService.filteredItems"
    cdkDrag
    cdkDragLockAxis="y"
    class="item"
    swipeReveal
    [hiddenPanelWidth]="50"
    role="listitem"
  >
    <div class="flex">
      <app-item-card [item]="item" class="w-full">
        <mat-icon class="drag-handle" cdkDragHandle>drag_handle</mat-icon>
      </app-item-card>
      <div
        #description
        [innerHTML]="getDescriptionHtml(item)"
        (mousewheel)="onDescriptionMouseWheel($event, description)"
        class="
          bg-dimsnow
          box-border
          h-full
          w-full
          overflow-auto
          p-1.25
          hidden
          md:flex
          description
        "
      ></div>
    </div>
    <div
      class="
        relative
        min-h-full
        bg-transparent
        text-white
        flex
        justify-center
        items-center
        z-[1]
      "
      (click)="userDataService.deleteItem(item)"
    >
      <div class="bg-warn-500 left-0 h-full absolute w-screen z-[-1]"></div>
      <mat-icon>delete</mat-icon>
    </div>
  </div>
</div>
