.item-card {
  @apply
    w-full
    grid
    py-1.25
    px-2.5
    bg-white
    box-border
    text-11px
    xs:text-xs
    sm:text-sm;
  
  box-shadow: 0 1px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  grid-template-columns: 1fr 24px;
  grid-template-rows: 95px;
}

.item-card-left {
  @apply overflow-hidden flex flex-col justify-between;

  grid-area: 1 / 1 / 1 / 1;
}

.item-card-right {
  @apply flex flex-col justify-between items-center;
  grid-area: 1 / 2 / 1 / 2;
}

.item-card-info {
  @apply flex items-center mr-2.5;

  mat-icon {
    @apply mr-1.25;
  }
}
