<div class="item-card">
  <div class="item-card-left">
    <div class="flex items-center justify-between">
      <span
        class="
          font-medium
          text-base
          overflow-hidden overflow-ellipsis
          whitespace-nowrap
        "
        >{{ item.title }}</span
      >
      <div class="w-auto h-full flex justify-end">
        <div class="flex justify-end h-full items-center">
          <div
            class="w-2.5 h-2.5 rounded-10px mr-3px"
            *ngFor="
              let group of groupService.getItemGroups(item);
              trackBy: trackGroupById
            "
            [style.backgroundColor]="group.color"
          ></div>
        </div>
      </div>
    </div>
    <div class="flex-grow"></div>
    <div class="item-card-info" *ngIf="item.location.trim() !== ''">
      <mat-icon>place</mat-icon>
      <span>{{ item.location }}</span>
    </div>
    <div style="display: flex; margin: 5px 0">
      <div class="item-card-info" *ngIf="item.isDateEnabled">
        <mat-icon>event</mat-icon>
        <span>{{ item.date.toLocaleDateString() }}</span>
      </div>
      <div class="item-card-info" *ngIf="item.isStartTimeEnabled">
        <mat-icon>schedule</mat-icon>
        <span>{{ item.getDisplayTime() }}</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between items-center">
    <app-icon-button
      icon="open_in_full"
      (action)="expandItem()"
      matTooltip="View details"
      matTooltipClass="tooltip"
      matTooltipPosition="left"
      [matTooltipShowDelay]="750"
      ariaLabel="View details"
    ></app-icon-button>
    <app-favorite-button [item]="item"></app-favorite-button>
    <ng-content></ng-content>
  </div>
</div>
