/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.group-name-chip {
  border-radius: 16px;
  padding: 0 10px;
  height: 32px;
  width: max-content;
  display: flex;
  align-items: center;
}

.icon-btn {
  $button-size: 24px;
  background: transparent;
  width: $button-size;
  height: $button-size;
  border: none;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;

  &:active {
    background: rgba(0, 0, 0, 0.1);
  }
}
