:host {
  @apply w-full h-full;
}

.weekdays {
  @apply w-full h-[40px] grid bg-ghost flex-auto;

  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
}

.calendar {
  @apply w-full h-full grid flex-grow overflow-auto flex-auto;

  grid-template:  repeat(6, 1fr) / repeat(7, 1fr);
}

.date {
  @apply
    p-1.25
    box-border
    overflow-hidden
    border-gray
    border-b-1
    border-r-1
    border-solid;
}

.date:nth-child(7n) {
  @apply border-r-0;
}

.date:nth-child(n + 36) {
  @apply border-b-0;
}