<div class="w-full h-full flex flex-col">
  <app-view-header
    [text]="getMonthString()"
    (previous)="dateService.goToPrevMonth()"
    (next)="dateService.goToNextMonth()"
    label="month"
  ></app-view-header>
  <div class="calendar" role="list">
    <ng-container
      *ngFor="
        let week of getMonthDates(dateService.year, dateService.month);
        trackBy: trackByWeek
      "
      class="calendar-week"
    >
      <ng-container *ngFor="let date of week; trackBy: trackByDate">
        <div
          class="date"
          (click)="goToDate(date)"
          (keydown.enter)="goToDate(date)"
          role="listitem"
          [attr.aria-label]="getDateAriaLabel(date)"
          tabindex="0"
        >
          <div class="flex justify-between items-center">
            <span>{{ date.getDate() }}</span>
            <span
              *ngIf="getItemsByDate(date).length > 0"
              class="
                w-4.5
                leading-1.4em
                bg-accent-500,
                text-white
                flex
                justify-center
                items-center
                rounded-4px
                text-12px
              "
              >{{ getItemsByDate(date).length }}</span
            >
          </div>
          <div>
            <div
              *ngFor="let item of getItemsByDate(date); trackBy: trackItemById"
              [style.color]="itemService.getItemTextColor(item)"
              [style.backgroundColor]="itemService.getItemBackgroundColor(item)"
              class="
                w-full
                rounded-sm
                px-1.25
                box-border
                overflow-hidden
                whitespace-nowrap
                overflow-ellipsis
                mb-1.5px
                h-4.5
                text-12px
              "
            >
              {{ item.title }}
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
