<button
  mat-icon-button
  [matMenuTriggerFor]="sortMenu"
  color="primary"
  matTooltip="Sort items"
  matTooltipClass="tooltip"
  matTooltipPosition="below"
  [matTooltipShowDelay]="1000"
>
  <mat-icon>sort</mat-icon>
</button>
<mat-menu #sortMenu="matMenu">
  <button mat-menu-item (click)="sortByDate.next()">
    <mat-icon color="primary">event</mat-icon>
    <span class="menu-item-text">Date</span>
  </button>
  <button mat-menu-item (click)="sortByTitle.next()">
    <mat-icon color="primary">sort_by_alpha</mat-icon>
    <span class="menu-item-text">Title</span>
  </button>
  <button mat-menu-item (click)="sortByFavorited.next()">
    <mat-icon color="primary">star</mat-icon>
    <span class="menu-item-text">Favorited</span>
  </button>
</mat-menu>
