$header-height: 40px;

.view-header {
  @apply
    text-white
    flex
    justify-between
    items-center
    w-full
    bg-primary-300
    text-base;
}

.view-nav-btn {
  @apply text-white
    flex
    items-center
    border-0
    bg-transparent
    cursor-pointer
    select-none
    px-1.25
    hover:bg-black
    hover:bg-opacity-10
    active:bg-black
    active:bg-opacity-20;
}

.view-header, .view-nav-btn {
  min-height: $header-height;
}